img {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 10px;
}

table {
  margin-bottom: 10px;
}

#.section ol.loweralpha > li { 
#  list-style: lower-alpha;
#  padding-bottom: 5px;
#}

#.section ol.upperalpha > li { 
#  list-style: upper-alpha;
#  padding-bottom: 5px;
#}

#.section ol.arabic > li {
#  list-style: decimal;
#  padding-bottom: 5px;
#}

#.section ol.lowerroman > li {
#  list-style: lower-roman;
#  padding-bottom: 5px;
#}

#.section ol.upperroman > li {
#  list-style: upper-roman;
#  padding-bottom: 5px;
#}

.highlight .hll {
  background-color: #ffff00 !important;
  margin:0px 0px !important;
  padding:0px 0px !important;
  display: inline !important;
}

