img {
  margin-bottom: 20px !important;
}

#li:first-child {
#  margin-top: 0px !important;
#  margin-bottom: 0px !important;
#}

#li:last-child {
#  margin-top: 0px !important;
#  margin-bottom: 0px !important;
#}

#table {
#  margin-bottom: 10px !important;
#}

.section ol.arabic > li {
  list-style: decimal !important;
}

.section ol.upperalpha > li {
  list-style: upper-alpha !important;
}

.section ol.loweralpha > li { 
  list-style: lower-alpha !important;
}

.section ol.upperroman > li {
  list-style: upper-roman !important;
}

.section ol.lowerroman > li {
  list-style: lower-roman !important;
}

.highlight .hll {
  background-color: #ffff00 !important;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  display: inline !important;
}

